* {
  box-sizing: border-box;
  margin: 0px;
}

.row {
  width: 100%;
}

section {
  padding: 10px;
  margin-bottom: 10px;
}

span {
  display: inline-block;
  border: 1px solid black;
  background-color: #c5d3d6;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: relative;
  top: -11px;
  right: -11px;
  float: right;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 180px;
}

p {
  font-family: sans-serif;
  clear: both;
}

#juice {
  background-color: #dba2c6;
}

#coffee {
  background-color: #d6c3ae;
}

#food {
  background-color: #aec7d6;
}

#container {
  padding: 30px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
.col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
      width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}
